@import url("/styles/header.css");
@import url("/styles/corpo.css");
@import url("/styles/rodape.css");
@import url("/styles/corpoSobre.css");
@import url("/styles/corpoDepoimentos.css");
 @import url("/styles/carrossel.css");
 @import url("/styles/corpoCadastro.css");
 @import url("/styles/corpoCadastro2.css");
 @import url("/styles/footer.css");


:root {
    --branco:  #fffefe;
    --rosaEscuro: #b50345;
    --preto: #000000;
    --Laranja: #f27a30;
    --rosaClaro: #cb0d84;
    --fontePrincipal: "DM Sans", sans-serif;
    --vermelho: red;
    --cinza: #F2F2F2;
}
* {
       
    margin: 0;
    padding: 0;
    
    
}
html, body {
    height: 100%;
    background-color: var(#A7ABAB);
}

