
.cartao__destaque1{
    display: flex;
   flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--branco), white);
    line-height: 1.2em;
    margin: 0;
    padding: 0%;
   
    
}
.cartao__11 {
    width: 350px;
    height: 260px;
    background-color: var(--branco);
    border-radius: 0px;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid var(--cinza); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
   

   
}

.imagem__cartao1 {
    width: 25%;
    padding: 8px;
    border-radius: 16%;
    
}
.titulo__cartao1{
    font-family: var(--fontePrincipal);
    font-size: 24px;
    font-weight: 600 bold;
    padding: 12px;
}
.texto__cartao1{
    font-family: var(--fontePrincipal);
    font-size: 16px;
    font-weight: 400;
    padding: .5em;
    text-align: center;

}



@media screen and (min-width: 1024px){

    .cartao__destaque1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1em 0;
    }
    .cartao__11 {
        width: 400px;
        height: 280px;

    }
    .texto__cartao1{
        line-height: 1.2em;
        word-break: unset;
    }
}

@media screen and (min-width: 1728px){
   
    .cartao__destaque1s{
     margin: 0 12em;
    }
 
    .cartao__11 {
     width: 560px;
     height: 360px;
 
 }
 .texto__cartao1{
    
    font-size: 24px;
   
   

}
         
 
 
 }


