
.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2em;
    
    
    
}
.corpo__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 42px;

}
.corpo__texto {
    font-family: var(--fontePrincipal);
    color: var(--preto);
    font-size: 24px;
    font-weight: 480 bold;
    margin: 1em;
    width: 100%;
    align-items: center;
    text-align: center;
    
}
.corpo__imagem {
   width: 100%;
   margin: 0.1%;
       
}
.titulo-destaque {
    color: var(--rosaEscuro);
}

.botao {
    display: flex;
    position: relative; /* Define a posição relativa para a div */
    width: 100%; /* Ajuste conforme necessário */
    height: 100%; /* Ajuste conforme necessário */
    margin: 16px auto;
    justify-content: center;
    
}
.botao__imagem{
    padding:  0;

}
.botao__texto {
    border-radius: 8px;
    background-color: var(--rosaEscuro);
    font-family: var(--fontePrincipal);
    font-size: 12px;
    color: var(--branco);
    border: 8px solid var(--rosaEscuro);
    font-weight: 600;
    padding: 1em 3em;
    text-decoration: none;
    text-transform: uppercase;
    

    position: absolute; /* Define a posição absoluta para o botão */
    top: 50%; /* Alinha o botão verticalmente no centro */
    left: 50%; /* Alinha o botão horizontalmente no centro */
    transform: translate(-50%, -50%); /* Centraliza o botão */
    z-index: 1; /* Coloca o botão sobre a imagem */

}
.botao__texto:hover{
    color: var(--preto);
}

.bolha {
    position: absolute; /* Define a posição absoluta para a imagem */
    top: 50%; /* Alinha o botão verticalmente no centro */
    left: 50%; /* Alinha o botão horizontalmente no centro */
    transform: translate(-50%, -50%); /* Centraliza o botão */
    z-index: -1; /* Coloca a imagem atrás do botão */

}
.imagemeta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
.imagemeta__imagem {
    
    align-items: center;
    padding: 1em;
       
}
.texto2 {
    font-family: var(--fontePrincipal);
    color: var(--preto);
    font-size: 24px;
    font-weight: 480 bold;
    align-items: center;
    text-align: center;
    line-height: 1em;
    padding: 1em;
}
.cartao__destaque{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--branco), white);
    line-height: 1.2em;
    margin: 5em;
    

}
.cartao__1 {
    width: 330px;
    height: 190px;
    background-color: var(--branco);
    border-radius: 0px;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid var(--rosaEscuro); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
   
}

.imagem__cartao {
    width: 20%;
    
}
.titulo__cartao{
    font-family: var(--fontePrincipal);
    font-size: 24px;
    font-weight: 600 bold;
    padding: 12px;
}
.texto__cartao{
    font-family: var(--fontePrincipal);
    font-size: 14px;
    font-weight: 400;
    padding: .5em;
    text-align: center;

}

@media (min-width: 1024px){
    .lista-menu__titulo {
        display: none;
    }
    .corpo__imagem {
        width: 50%;
        align-items: center;
        padding: 2em;
    }
    
  
    .corpo__texto {
        font-size: 48px;
        
    }
    .corpo__conteudo {
        display: flex;
        flex-direction: row-reverse;
        padding: 2em 5em ;
        margin: 0 2em;
    }
    .imagemeta{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 7em;
        

    }
    .imagemeta__imagem {
        width: 50%;
        padding: 36px;
    }
   
   

    .bolha{
        display: none;
    }
    .cartao__destaque{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .cartao__1 {
        width: 400px;
    height: 200px;

    }
    .texto__cartao{
        line-height: 1.2em;
        word-break: unset;
    }
    .texto2 {
        font-size: 32px;
        text-align: left;
    }
}

@media screen and (min-width: 1728px){
    .cartao__destaque{
        display: flex;
        justify-content: space-around;
    }
    .cartao__1 {
        width: 530px;
        height: 270px;
        background-color: var(--branco);
        border-radius: 0px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid var(--rosaEscuro); 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
       
    }
    .texto__cartao{
        font-family: var(--fontePrincipal);
        font-size: 20px;
        font-weight: 400;
        padding: .5em;
        text-align: center;
    
    }
    .titulo__cartao{
        font-family: var(--fontePrincipal);
        font-size: 30px;
        font-weight: 600 bold;
        padding: 12px;
    }
    .texto2 {
        font-family: var(--fontePrincipal);
        color: var(--preto);
        font-size: 40px;
        font-weight: 480 bold;
        width: 55%;
        align-items: center;
        text-align: center;
        line-height: 1em;
        text-align: left;
    }
  
    

}