
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.sobre__titulo {
    font-family: var(--fontePrincipal);
    color: var(--rosaEscuro);
    font-size: 38px;
    font-weight: 600 ;
    margin: 1.5em 0 .3em 0;
    width: 100%;
    text-align: center;
}
.sobre__descricao {
    font-family: var(--fontePrincipal);
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    padding: .3em;
    line-height: 1em;
    word-break: inherit;

}
@media screen and (min-width: 1024px){
    .sobre{
        padding: 0 16em;
    }
}