.cabecalho__menu-hamburguer {
    width: 70px;
    height: 60px;
    background-image: url("../assets/hamburger-menu.svg");
    background-repeat: no-repeat;
    display: inline-block;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 0 1em 0;
    border-bottom: 3px solid var(--rosaEscuro);
    background-color: var(--cinza);
    
    
}
.container__bolsa {
    width: 80px;
}

.container__botao {
    display: none;
    background-color: var(--cinza);
}
.lista-menu {
    display: none;
    position:absolute;
    top: 100%;
    left: 0%;
    width: 50vw; 
    list-style: none;
    z-index: 1;
    
    
    
}
.container__botao:checked~.lista-menu {
    display: block;
}
.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--branco);
    font-size: 16px;
    
}
.lista-menu__titulo{
    padding: 16px;
    background-color: var(--rosaEscuro);
    color: var(--branco);
    font-family: var(--fontePrincipal);
    
}
.lista-menu__item{
    padding: 20px;
}
.lista-menu__item:hover {
    background-color: var(--rosaEscuro);
    
}
.lista-menu__link {
    color: var(--preto);
    text-transform: uppercase;
    font-family: var(--fontePrincipal);
    font-weight: 400;
    text-decoration: none;
   
    
}
.container__botao {
    display: none;
}
.container__titulo{
    display: none;
}
.opcoes {
    display: none;
}
.container__texto {
    display: none;
}


.cabecalho__pesquisa {
    border: 2px solid var(--rosaEscuro);
    background-color: var(--cinza);
    border-radius: 20px;
    padding: .7em 1em;
    width: 100%;
}
.cabecalho__pesquisa::placeholder {
    font-size: 16px;
    background: url("/assets/ícone\ busca.png") no-repeat right center;
}

@media screen and (min-width: 1024px){
    
    .lista-menu{
        display: flex;
        top: auto;
        
    }
    .opcoes {
        margin: 1em;
    }
    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabecalho__menu-hamburguer {
        display: none;
    }
    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opcoes__botao{
        display: none;
    }
   .lista-menu__item{
    padding: 16px   ;
    background-color: var(--cinza);
   }
   .cabecalho__pesquisa{
    width: 150%;
    
   }
  

}


