@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

.contato{
    background-color: var(--branco);
    padding: 1em;
    
}

.contato__descricao {
    margin: 1em;
}
.contato__titulo,
.contato__texto {
    background: var(--preto);
    background-clip: text;

}

.contato__titulo {
    font-family: var(--fontePrincipal);
    font-size: 28px;
    font-weight: 700;
}
.contato__texto {
    font-family: var(--fontePrincipal);
    font-size: 18px;
    font-size:300;
    
}
.contato__botao{
    padding: 1em;
}
.contato__email {
    padding: 1em;
    border: 1px solid var(--preto);
    border-radius: 24px;
    width: 50%;
    color: var(--rosaEscuro);
    
}

.contato__email::placeholder {
    font-family: var(--fontePrincipal);
    color: var(--rosaEscuro);
    padding-left: 1em;
    background-position: 1em;
    
}
.button {
    padding: .5em;
    border: 1px solid var(--preto);
    border-radius: 24px;
    width: 20%;
    color: var(--rosaEscuro);
    background-color: var(--preto);
    font-family: var(--fontePrincipal);
    font-size: 17px;
   
}
.rodape {
    background-color: var(--branco);
    
}
.rodape__texto {
    font-family: var(--fontePrincipal);
    text-align: center;
    color: var(--rosaEscuro);
    font-family: 'Montserrat', sans-serif;
    padding: 1em 0 0 0;
    font-weight: 400;
    
    

    
}
@media screen and (min-width: 1024px) {
    .contato {
        margin: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center ;
        
    }

    .contato__titulo {
        font-size: 24px;
        padding: 0 1em;
        margin: 5px 0;
    }
    .contato__texto {
        font-size: 18px;
        padding: 0 1.2em;
        
    }
    .contato__email {
        width: 30%;
        margin: 0 0 0 1em;
    }
   .contato__botao{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    
   }
    .button {
        width: 15%;
        
    
    }
    .contato__descricao {
        margin: 1em;
             
        
    }
   
    .contato__texto {
        align-items: end;
    }
    .rodape {
        margin: 1em 0 0 0;
        width: 100%;
     
    }
    .rodape__texto{
        padding: 1em 0 0 0;
     
    }
    
   
}

@media screen and (min-width: 1728px) {
    .contato__botao{
         display: flex;
         flex-direction: row-reverse;
         justify-content: center;
         margin: 1em;
         width: 80%;
    }
    .button {
        width: 10%
    }
    .contato__email {
        width: 40%;
    }
    .contato__titulo {
        font-size: 34px;
        padding: 0 1em;
        margin: 5px 0;
    }
    .contato__texto {
        font-size: 28px;
        padding: 0 1.2em;
        
    }
}

